name: im_rich
description: A luxury showcase app.

publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_animate: 4.5.0
  flutter_localizations:
    sdk: flutter
  intl: 0.20.2
  rename_app: ^1.6.5
  shared_preferences: ^2.2.3
  wakelock_plus: 1.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  generate: true

flutter_icons:
  android: true
  ios: true
  image_path: "assets/app_icon.png"
